<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>60</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.6">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:BigParser/Common_Properties_BE.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
 
SERVER_IP=52.26.73.65
PROPERTY_FILE=&quot;backend_dev.property&quot;
ENVIRONMENT=&quot;test&quot;

echo &quot;Removing old Property file&quot;

ssh tomcat@$SERVER_IP &quot;rm /etc/bigparser/$ENVIRONMENT.properties&quot;


echo &quot;*************************&quot;
scp -i ${HOME}/.ssh/qa-bigparsercom.pem $PROPERTY_FILE tomcat@$SERVER_IP:/etc/bigparser/
ssh -i ${HOME}/.ssh/qa-bigparsercom.pem tomcat@$SERVER_IP &quot;mv /etc/bigparser/$PROPERTY_FILE /etc/bigparser/$ENVIRONMENT.properties&quot;
ssh -t -t -i ${HOME}/.ssh/qa-bigparsercom.pem tomcat@$SERVER_IP &quot;sudo service tomcat-bigparser restart&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@1.91.1">
      <info>
        <propertiesFilePath>/var/lib/jenkins/scripts/email_recipient</propertiesFilePath>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>