<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.6">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IDENTIFIER</name>
          <description></description>
          <defaultValue>0.1</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

releaseIdentifier=Release_BigParser_BE_Deploy_Prod_${IDENTIFIER}

#for az in a b
#do
 #echo &quot;service deploying on the server prod-backend-az-$az.bigparser.com&quot;
 #${HOME}/scripts/deployment_prod.sh prod-backend-az-$az.bigparser.com bigparser-apiservices.war bigparser /release/${releaseIdentifier} APIServices  
# echo &quot;**********************************************&quot;

#done


echo &quot;service deploying on the server test-backend.bigparser.com&quot;
${HOME}/scripts/deployment_prod.sh test-backend.bigparser.com bigparser-apiservices.war bigparser /release/${releaseIdentifier} APIServices  
echo &quot;**********************************************&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>